html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
}

.calculator {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 450px;
    width: 343px;
    padding: 25px;
    margin: 0 auto;
}

.display {
    display: flex;
    flex-direction: column;
    height: 90px;
    background-color: lightgray;
    width: 293px;
    padding: 15px;
}

.stored-value,
.current-value {
    text-align: end;
}

.stored-value {
    font-size: 15px;
    margin-bottom: 10px;
}

.current-value {
    font-size: 30px;
}

.btns-cntr {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 293px;
}

.btns-divider {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
}

button {
    width: 65.5px;
    height: 50px;
    padding: 0;
}

.clear-btn,
.delete-btn {
    width: 141px;
    height: 50px;
}