html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
}

.calculator {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 450px;
    width: 375px;
    padding: 25px;
    margin: 0 auto;
}

.display {
    display: flex;
    flex-direction: column;
    height: 90px;
    background-color: lightgray;
    width: 100%;
    padding: 15px;
}

.stored-value,
.current-value {
    text-align: end;
}

.stored-value {
    height: 25px;
    font-size: 18px;
}

.current-value {
    height: 30px;
    font-size: 35px;
}

.btns-cntr {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 100%;
}

.btns-divider {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
}

button {
    width: 73px;
    height: 50px;
    flex: 1 1 auto;
    padding: 0;
    font-size: 20px;
}

.clear-btn,
.delete-btn {
    width: 157.5px;
    height: 50px;
    flex: 1 1 auto;
}