html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: sans-serif;
    min-height: 100vh;
}

.calculator,
.screen,
button {
    border-radius: 5px;
}

.calculator {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 450px;
    width: 375px;
    padding: 25px;
    margin: 0 auto;
    background-color: #302e2f;
    box-shadow: 0 0 25px lightgray;
}

.screen {
    display: flex;
    flex-direction: column;
    height: 90px;
    width: 100%;
    padding: 15px;
    background-color: #d3e1e2;
}

.stored-value,
.displayed-value {
    text-align: end;
}

.stored-value {
    height: 25px;
    font-size: 18px;
}

.displayed-value {
    height: 30px;
    font-size: 35px;
}

.btns-cntr {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
}

button {
    color: #fbfbfb;
    width: 73px;
    height: 50px;
    flex: 1 1 auto;
    padding: 0;
    font-size: 20px;
}

.clear-btn,
.undo-btn {
    width: 157.5px;
    height: 50px;
    border: 1px solid hsl(25, 37%, 50%);
    background-color: hsl(25, 37%, 50%);
}

.clear-btn:active,
.undo-btn:active {
    border: 1px solid hsl(25, 37%, 43%);
    background-color: hsl(25, 37%, 43%);
}

.clear-btn {
    flex: 0 1 auto;
}

.undo-btn {
    flex: 1 1 auto;
}

.numbers-btn,
.decimal-btn {
    border: 1px solid hsl(33, 6%, 37%);
    background-color: hsl(33, 6%, 37%);
}

.numbers-btn:active,
.decimal-btn:active {
    border: 1px solid hsl(40, 2%, 34%);
    background-color: hsl(40, 2%, 34%);
}

.operators-btn,
.equal-btn {
    border: 1px solid hsl(30, 5%, 25%);
    background-color: hsl(30, 5%, 25%);
}

.operators-btn:active,
.equal-btn:active {
    border: 1px solid hsl(30, 5%, 22%);
    background-color: hsl(30, 5%, 22%);
}

footer {
    margin-top: 30px;
}

.footer-text {
    font-size: large;
    text-align: center;
}

.footer-text a {
    color: black;
}

.footer-text a:hover {
    text-decoration-line: none;
}